    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
 <script>
	function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
    }
</script>

<div ng-repeat="country in geo.countries" class="countryInfo col-xs-12 col-sm-6 col-md-3">
		<div class="country-name"><h1>{{country.country}}</h1></div>
		<img ng-src="{{country.flagUrl}}"></img>
		<div class="country-employees"><p class="lead"><i class="glyphicon glyphicon-user"></i>{{country.employees}} employees<p></div>
		<div class="country-description"><p class="lead"><i class="glyphicon glyphicon-info-sign"></i>{{country.description}}</p></div>
		<button type="button" class="btn btn-info" ng-click="geo.showOnMap(country)"> <i class="glyphicon glyphicon-screenshot"></i> Go to Location on map</div>
</div>
<div id="map" ng-init="geo.initMap"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS9wf4cTrlNdMfzX6xXHFzqzVkH_kYRzQ&callback=initMap">
</script>