 <p>This is the issues view.</p>
<div class="col-md-8">
  <div class="input-wrap">
  <label>
  Search an issue:
    <input ng-model="searchText"></label>
  </div>
</div>
<div>
  <div>
  <table class="table">
    <thead>
      <tr>
        <th ng-click="issues.sortBy('opened')">Opened </th>
        <th ng-click="issues.sortBy('firstName')">Reporter</th>
        <th ng-click="issues.sortBy('email')">Email reporter</th>
        <th ng-click="issues.sortBy('issue')">Issue</th>
        <th ng-click="issues.sortBy('status')">Status</th>
        <th ng-click="issues.sortBy('closed')">Closed</th>
        <th ng-click="issues.sortBy('lastName')">Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues.issues | filter:searchText | orderBy: issues.orderProp">
        <td>{{issue.opened}}</td>
        <td>{{issue.firstName}}</td>
        <td>{{issue.email}}</td>
        <td>{{issue.issue}}</td>
        <td>{{issue.status == 'true' ? 'Open' : 'Closed'}}</td>
        <td>{{issue.closed}}</td>
        <td>{{issue.lastName}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>