
<h1 class="col-md-12 page-header"><i class="glyphicon glyphicon-sunglasses"></i> Key Company Metrics </h1>
<div class="col-md-12">
<p class="lead">This is the key-metrics view.</p>
</div>
<div>
<div class="row">
  <div class="col-md-5 col-xs-12 col-sm-12">
  <h2><i class="glyphicon glyphicon-thumbs-up"></i> Live Sales </h2>
  <p class="lead"> Total sales Quater 4: {{keymetric.q4TotalSales}} </p>
  <div>
  <div class="alert alert-success" role="alert">Recent sale: $ {{keymetric.recentSale.sales}} </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width' : keymetric.progress + '%'}"></div>
    <span class="progress-indicator">{{keymetric.q4TotalSales}} / 1000000 <span>
    </div>
  </div>
  </div>

  <div class="col-md-5 col-xs-12 col-sm-12">
    <h2><i class="glyphicon glyphicon-warning-sign"></i> Live Issues </h2>
    <div class="alert alert-danger" role="alert">
      <p class="lead"><span class="bold">IssueNumber:</span> {{keymetric.randomIssue.id}} </p>
      <p class="lead"><span class="bold">Reporter:</span> {{keymetric.randomIssue.firstName}} {{keymetric.randomIssue.lastName}}</p>
      <p class="lead"><span class="bold">Opened:</span> {{keymetric.randomIssue.opened}}</p>
      <p class="lead"><span class="bold">Email:</span> {{keymetric.randomIssue.email}}</p>
      <p class="lead"><span class="bold">Issue:</span> {{keymetric.randomIssue.issue}}</p>
    </div>
  </div>
</div>



 <div class="col-md-5 col-xs-12 col-sm-12 line-graph-wrap">
  <h2><i class="glyphicon glyphicon-euro"></i> Sales this year </h2>
  <!-- <div class=""> -->
  <div class="graph-wrap">
    <svg class="graph">
      <g class="grid x-grid">
        <line x1="40" x2="40" y1="5" y2="371"></line>
      </g>
      <g class="grid y-grid">
        <line x1="40" ng-attr-x2="{{keymetric.screenWidth + 40}}" y1="370" y2="370"></line>
      </g>
      <g class="grid x-grid line-graph">
        <line
        x1="40"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q1Position}}
        ng-attr-y2={{keymetric.q1Position}}></line>


        <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth)}}" ng-attr-y="{{keymetric.q1Position + 40}}">$ {{keymetric.q1TotalSales}}</text>

        <line
        ng-attr-x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q1Position}}
        ng-attr-y2={{keymetric.q2Position}}></line>

        <line class="pointer"
        x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q1Position}}
        ng-attr-y2=370></line>

        <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth)}}" ng-attr-y="{{keymetric.q2Position + 45}}">$ {{keymetric.q2TotalSales}}</text>

        <line
        ng-attr-x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q2Position}}
        ng-attr-y2={{keymetric.q3Position}}></line>

        <line class="pointer"
        x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q2Position}}
        ng-attr-y2=370></line>

        <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth)}}" ng-attr-y="{{keymetric.q3Position + 50}}">$ {{keymetric.q3TotalSales}}</text>

      <line class="pointer"
        x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q3Position}}
        ng-attr-y2=370></line>

        <line
        ng-attr-x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q3Position}}
        ng-attr-y2={{keymetric.q4Position}}></line>
      <line class="pointer"
        x1="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.90) / keymetric.screenWidth) + 40}}"
        ng-attr-x2="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.90) / keymetric.screenWidth) + 40}}"
        ng-attr-y1={{keymetric.q4Position}}
        ng-attr-y2=370></line>

        <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.90) / keymetric.screenWidth) - 20}}"  ng-attr-y="{{keymetric.q4Position + 55}}">$ {{keymetric.q4TotalSales}}</text>
      </g>


    <g class="labels x-labels">
      <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.15) / keymetric.screenWidth) + 40}}" y="400">Q1</text>
      <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.40) / keymetric.screenWidth) + 40}}" y="400">Q2</text>
      <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.65) / keymetric.screenWidth) + 40}}" y="400">Q3</text>
      <text ng-attr-x="{{keymetric.screenWidth * ((keymetric.screenWidth * 0.90) / keymetric.screenWidth) + 40}}" y="400">Q4</text>
    </g>

      <g class="labels y-labels">
        <text x="34" y="15">$1000</text>
        <text x="32" y="131">$900</text>
        <text x="32" y="248">$800</text>
        <text x="32" y="373">$700</text>
        <text x="90" y="200" class="label-title">Sales</text>
        <text x="102" y="215" class="label-title">(x 1000)</text>
      </g>
    </svg>
  </div>
</div>

<div class="col-md-5 col-xs-12 col-sm-12">
  <h2><i class="glyphicon glyphicon-fire"></i> Issues this year </h2>

  <svg class="chart">
    <g class="bar">
      <rect ng-attr-width="{{((keymetric.issuesQ1Length / 110) * 100) + '%'}} " height="50"></rect>
      <text x="45" y="18" dy="1em">Q1: {{keymetric.issuesQ1Length}} issues</text>
    </g>
    <g class="bar">
      <rect ng-attr-width="{{((keymetric.issuesQ2Length  / 110) * 100) + '%'}}" height="50" y="60"></rect>
      <text x="45" y="78" dy="1em">Q2: {{keymetric.issuesQ2Length}} issues</text>
    </g>
    <g class="bar">
      <rect ng-attr-width="{{((keymetric.issuesQ3Length / 110) * 100) + '%'}} " height="50" y="120"></rect>
      <text x="45" y="138" dy="1em">Q3: {{keymetric.issuesQ3Length}} issues</text>
    </g>
    <g class="bar">
      <rect ng-attr-width="{{((keymetric.issuesQ4Length / 110) * 100) + '%'}} " height="50" y="180"></rect>
      <text x="45" y="198" dy="1em">Q4 {{keymetric.issuesQ4Length}} issues</text>
    </g>
  </svg>
</div>
